@font-face {
	font-family: 'Comfortaa';
	src: url('./font/Comfortaa-Regular.eot'); /* IE9 Compat Modes */
	src: url('./font/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./font/Comfortaa-Regular.woff') format('woff'), /* Modern Browsers */
		 url('./font/Comfortaa-VariableFont_wght.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./font/Comfortaa-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
	font-family: 'DancingScript';
	src: url('./font/DancingScript-Regular.eot'); /* IE9 Compat Modes */
	src: url('./font/DancingScript-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./font/DancingScript-Regular.woff') format('woff'), /* Modern Browsers */
		 url('./font/DancingScript-VariableFont_wght.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('./font/DancingScript-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }


html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background-color: #ddd;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
	font-family:Comfortaa;
	user-select: none;
	font-size: 15px;
	line-height: 22px;
}

header {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 10px auto;
	transition: opacity 1s linear;
	position: relative;
	z-index: 10000;
}
header h1 {
	margin: 0;
	letter-spacing: 2px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
main {
	padding: 10px;
	/* padding-bottom: 70px; */
	width: 90%;
	max-width: 700px;
	height: calc(100% - 100px);
	min-height:300px;
	overflow: auto;
	margin: 10px auto;
	/* background-color: #ddd; */
	border-radius: 10px;
	transition: opacity 1s linear;
}

h1 {
	font-family:  DancingScript, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h4, .titreH4 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	font-variant: small-caps;
}

table, tr, td {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
th {
	text-align: left;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}
form p label {
	display: inline-block;
	width:120px;
	text-align: right;
	margin-right: 5px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button, input[type="button"]  {
	padding:5px;
	padding-top: 7px;
	border-color: #FFF;
	border-radius: 6px;
	color: #333;
	background-color: #d0d0d0;
	font-weight: bold;
	outline: none;
	letter-spacing: 3px;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

input[type="button"]:hover {
	border-color: #aaa;
	color:#666;
	background-color: #eee;
	cursor: pointer; 
}